h1{
  font-family: sans-serif;
  color: white;
  background: black;
  display:flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6c);
}

.button-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 10vh;
  min-height: 50vh;
  grid-template-rows: repeat(3, 100px);
  
}

.button-grid > button {
  cursor: pointer;
  font-size: 1rem;
  border: 3px solid white;
  outline: none;
  background-color: rgba(255,255,255, .75);
  font-weight: 600;
  padding-left: 15em;
  padding-right: 15em;
}

.button-grid > button:hover {
  background-color: rgba(255,255,255, .9);
}